img.feature-img {
    max-width: 50% !important;
    width: 100px !important;
  }
  
  section#hero\ hero-section {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .container.flex.flex-col {
    align-items: center;
  }
  
  .hero-section {
    display: flex;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .hero-items .img {
    width: 155px;
  }
  Footer
  © 2022 GitHub, Inc.
  Footer navigation
  Terms
  Privacy